body {
  background-color: #000000;
  color: #ffffff;
}

.cabecalho {
  height: 58px;
  background-color: #0b0b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  
}

.cabecalho .logo {
  display: flex;
  gap: 15px;
  width: 20px;
  height:50px;
}

.cabecalho .menu {
  display: flex;
  gap: 30px;
}

.cabecalho .menu li  {
  padding: 30px;
  color: #e8e8e8;
  font-weight:bolder;
  font-size: 16px;
  font-family: "Chalet";
}

.cabecalho .menu li a:hover {
  border-bottom: 2px solid #e60202;
}

.home {
  display:flex;
  position: relative;
  min-height: calc(100vh - 80px);
}

.home::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.959),
    rgba(0, 0, 0, 0.788) 35%,
    transparent 65%
  );
}

.home .imagem-fundo {
  width: 100%;
  object-fit:cover;
  align-items: center;
}

.home .informacoes {
  position: absolute;
  z-index: 1;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 80px 80px 80px 100px;
  max-width: 780px;
}

.home .informacoes img {
  max-width: 450px;
}

.home .informacoes .lista-de-jogos {
  display: flex;
  gap: 32px;
}

.home .informacoes .titulo {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-top: 50px;
}

.home .informacoes .texto {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

.home .informacoes .estrelando {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #858585;
}

.btn-comprar,
.btn-plataforma {
  background-color:red;
  border: 0.5px solid #4e0303;
  border-radius: 4px;
  font-family: "ChaletComprime";
  font-size: 28px;
  text-align: center;
  padding: 20px 20px;
  text-transform: uppercase;
  width: 30%;
  transition: all 0.3s ease-in;
}

.btn-plataforma {
  color: #fff;
  width: 50%;
  cursor: pointer;
}

.btn-comprar:hover {
  background-color: #fff;
  color: #ff0101;
}

.compre-ja .foto-menina {
  width: 250px;
  border-style:solid;
  border-width: 10px;
  border-color:#da94bacc;
  border-radius:50%;
}

.compre-ja .foto-menino {
  width: 250px;
  border-style:solid;
  border-width: 10px;
  border-color:#4d2323a9;
  border-radius:50%;
}

.compre-ja {
  display: flex;
  flex-direction:column;
  text-align: center;
  padding: 40px;
  align-items: center;
}

.compre-ja .titulo {
  font-family: "ChaletComprime";
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

.compre-ja .cartao {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  width: 40%;
  border-radius: 10px;
  padding: 60px;
  gap: 40px;
}

.compre-ja .informacoes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.compre-ja .informacoes h3 {
  font-family: "ChaletComprime";
  font-size: 50px;
  font-weight: 20;
}

.compre-ja .informacoes p {
  color: #e8e8e8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

.compre-ja .informacoes .plataformas {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.compre-ja .btn-plataforma .plataformas {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease-in;
  display: none;
  opacity: 0;
}

.compre-ja .btn-plataforma .plataformas.ativo {
  display: flex;
  opacity: 1;
}

.compre-ja .btn-plataforma .plataformas li {
  padding: 20px;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1) {
  border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1):hover {
  background-color: #00439c;
}
.compre-ja .btn-plataforma .plataformas li:nth-child(2) {
  border: 1px solid #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(2):hover {
  background-color: #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3) {
  border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3):hover {
  background-color: #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4) {
  border: 1px solid #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4):hover {
  background-color: #387a26;
}
.compre-ja .btn-plataforma .plataformas li:nth-child(5) {
  border: 1px solid #fcaf17;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(5):hover {
  background-color: #fcaf17;
}
